.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.circle-loader {
  position: relative;
  width: 120px;
  height: 120px;
  animation: rotate 1.2s linear infinite;
}

.circle-loader span {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}

.circle-loader span:nth-child(1)  { background: #ff0000; transform: rotate(0deg) translate(50px); }
.circle-loader span:nth-child(2)  { background: #ff7f00; transform: rotate(30deg) translate(50px); }
.circle-loader span:nth-child(3)  { background: #ffff00; transform: rotate(60deg) translate(50px); }
.circle-loader span:nth-child(4)  { background: #7fff00; transform: rotate(90deg) translate(50px); }
.circle-loader span:nth-child(5)  { background: #00ff00; transform: rotate(120deg) translate(50px); }
.circle-loader span:nth-child(6)  { background: #00ff7f; transform: rotate(150deg) translate(50px); }
.circle-loader span:nth-child(7)  { background: #00ffff; transform: rotate(180deg) translate(50px); }
.circle-loader span:nth-child(8)  { background: #007fff; transform: rotate(210deg) translate(50px); }
.circle-loader span:nth-child(9)  { background: #0000ff; transform: rotate(240deg) translate(50px); }
.circle-loader span:nth-child(10) { background: #7f00ff; transform: rotate(270deg) translate(50px); }
.circle-loader span:nth-child(11) { background: #ff00ff; transform: rotate(300deg) translate(50px); }
.circle-loader span:nth-child(12) { background: #ff007f; transform: rotate(330deg) translate(50px); }

@keyframes rotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.loading-text {
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}